
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Work+Sans&display=swap');

body {
font-family: Arial, Helvetica, sans-serif
}

h1 { font-family: 'Noto+Serif', sans-serif; }
h2 { font-family: 'Work+Sans', sans-serif; }
h4 { font-variant-caps: all-small-caps; }
